---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogList from '../../components/BlogList';
import { useTranslations } from '../../lib/i18n';

export const prerender = true;

const lang = 'zh';
const t = useTranslations(lang);
---

<BaseLayout title={t('blog.title')} lang={lang} breadcrumbs={[{ label: t('blog.title') }]}>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <BlogList client:load lang={lang} showTitle={true} />
  </div>
</BaseLayout>
